* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.nav-link {
    color: black;
    font-weight: 600;
}

.navbar-brand {
    color: black;
    font-size: 30px;
    font-weight: 400;
}


/* Items ryzen fest */

.collection span {
    color: rgb(192, 13, 13);
    font-size: 22px;
    font-weight: 800;
    padding-left: 5px;
}

.collection h5,
p {
    text-align: center;
}

.card {
    border: none;
}

.collection input {
    position: absolute;
    height: 45px;
    width: 110px;
    background-color: rgb(242 101 35);
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
    text-align: center;
    top: 30%;
    left: 35%;
    opacity: 0;
}

.collection .card:hover input {
    opacity: 1;
}

.footer h5 {
    color: white;
    font-weight: 300;
    text-align: center;
}

.footer .img-fluid {
    align-items: center;
    width: 50%;
}

.infoTexto p {
    font-size: 25px;
}

.redes .card {
    width: 50%;
}